
<table class="main container">
  <tr>
    <td>
      <table class="spacer">
        <tbody>
          <tr>
            <td height="40px" style="font-size:40px;line-height:40px;"> </td>
          </tr>
        </tbody>
      </table>

      <table class="row content">
        <tr>
          <th class="small-12 first columns">
            <%= body %>
          </th>
          <th class="expander"></th>
        </tr>
      </table>

      <table class="row">
        <tr>
          <th class="small-12 first columns">
          </th>
          <th class="expander"></th>
        </tr>
      </table>
    </td>
  </tr>
</table>
